

.alert
{
    background-color:#fafa74;
    padding:8px;
    margin-bottom:10%;
    border-radius: 5px;
}

.alert ul
{
    margin:0;   
}
h1{
    text-align: center;
    margin: 50px 0px ;
}
.form{
    box-shadow: 10px 10px 5px 12px #EEEBDD;
    padding-top:7% ;
    padding-bottom:7%;
    
}